
<!DOCTYPE html>
<html>
<body>

</style>

<frameset cols="50%,50%">

<frame <div class="row" >
	<div class ="col">
	<div class="leftside d-flex justify-content-center align-items-center">
	<div><br><h1>1. Cells with Odd Values in a Matrix<h1></div>






</div>
	
	<frame <div class ="col">
	<div class="rightside">
	
    <iframe src="https://trinket.io/embed/python/39da245ffa?start=result&showInstructions=true" class="right" height="100%" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

</div>
	</div>

<style>
.leftside, .rightside{
	height:50vh;
	width: 170vh;
	
}

@media screen and (min-width:768px)
{
.leftside, .rightside
{
height: 80vh;
}
}

.leftside{
	background: white;
}

.rightside{
background: white;}

</style>
</div></body></html>

