
<!DOCTYPE html>
<html>
<body>

</style>

<frameset cols="50%,50%">

<frame <div class="row" >
	<div class ="col">
	<div class="leftside d-flex justify-content-center align-items-center">
	<div><br><h1>3. Big Countries<h1></div>

<p>  There is a table&nbsp;<code>World</code>&nbsp;and&nbsp;<code>m</code>&nbsp;which are the dimensions of a matrix initialized by zeros and given an array <code>indices</code>&nbsp;where <code>indices[i] = [ri, ci]</code>. For each pair of <code>[ri, ci]</code>&nbsp;you have to increment all cells in row <code>ri</code> and column <code>ci</code>&nbsp;by 1.</p>
<pre>+-----------------+------------+------------+--------------+---------------+
| name            | continent  | area       | population   | gdp           |
+-----------------+------------+------------+--------------+---------------+
| Afghanistan     | Asia       | 652230     | 25500100     | 20343000      |
| Albania         | Europe     | 28748      | 2831741      | 12960000      |
| Algeria         | Africa     | 2381741    | 37100000     | 188681000     |
| Andorra         | Europe     | 468        | 78115        | 3712000       |
| Angola          | Africa     | 1246700    | 20609294     | 100990000     |
+-----------------+------------+------------+--------------+---------------+
</pre>
<p>  A country is big if it has an area of bigger than 3 million square km or a population of more than 25 million.

Write a SQL solution to output big countries' name, population and area.

For example, according to the above table, we should output:
</p>
<!-- <p>&nbsp;</p> -->
<pre>+--------------+-------------+--------------+
| name         | population  | area         |
+--------------+-------------+--------------+
| Afghanistan  | 25500100    | 652230       |
| Algeria      | 37100000    | 2381741      |
+--------------+-------------+--------------+
</pre>
</div></div>	
	<frame <div class ="col">
	<div class="rightside">	
    <iframe src="https://trinket.io/embed/python/39da245ffa?start=result&showInstructions=true" class="right" height="100%" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

</div><br><br><br>
	</div>

<style>
.leftside, .rightside{
	height:50vh;
	width: 190vh;
	
}

@media screen and (min-width:768px)
{
.leftside, .rightside
{
height: 70vh;
}
}

.leftside{
	background: white;
}

.rightside{
background: white;}

</style>
</div></body></html>

