
<!DOCTYPE html>
<html>
<body>

</style>

<frameset cols="50%,50%">

<frame <div class="row" >
	<div class ="col">
	<div class="leftside d-flex justify-content-center align-items-center">
	<div><br><h1>2. Armstrong Number<h1></div>

<p>  The k-digit number&nbsp;<code>N</code>&nbsp;is an Armstrong number if and only if the k-th power of each digit sums to N.</p>

<p>  Return <em>the number of cells with odd values</em> in the matrix after applying the increment to all <code>indices</code>.</p>
<!-- <p>&nbsp;</p> -->
<p><strong>Example 1:</strong></p>
<!-- <img alt="" src="./q1a.jpg" style="width: 600px; height: 118px;"> -->
<pre><strong>Input: </strong><span id="example-input-1-1">153</span>
<strong>Output: </strong><span id="example-output-1">true</span>
<strong>Explanation: </strong>
153 is a 3-digit number, and 153 = 1^3 + 5^3 + 3^3.
</pre>

<p><strong>Example 2:</strong></p>
<!-- <img alt="" src="./Cells with Odd Values in a Matrix - LeetCode_files/e2.png" style="width: 600px; height: 150px;"> -->
<pre><strong>Input: </strong><span id="example-input-2-1">123</span>
<strong>Output: </strong><span id="example-output-2">false</span>
<strong>Explanation: </strong>
123 is a 3-digit number, and 123 != 1^3 + 2^3 + 3^3 = 36.
</pre>

<p><strong>Note:</strong></p>

<ol>
	<li><code>1 &lt;= N &lt;= 10^8</code></li>
</ol>
</div>	
	<div class ="col">
	<div class="rightside">	
    <iframe src="https://trinket.io/embed/python/39da245ffa?start=result&showInstructions=true" class="right" height="100%" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

</div>
	</div>

<style>
.leftside, .rightside{
	height:50vh;
	width: 170vh;
	
}

@media screen and (min-width:768px)
{
.leftside, .rightside
{
height: 70vh;
}
}

.leftside{
	background: white;
}

.rightside{
background: white;}

</style>
</div></body></html>

